body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:goldenrod;
  }
  
  .card {
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 8px 7px  black;
    border: 2px solid;
    background: #ffffff;
    overflow: hidden;
  }
  .button{
    padding: 20px;

  }
  
  #card-img {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    
  }
  
  .content {
    padding: 20px;
  }
  
  .content h1 {
    font-size: 20px;
    margin: 0;
    color: black;
  }
  
  #subtitle {
    font-size: 14px;
    color: #777;
    margin:  0;
    padding-inline: 20px;
  }
  
  .content p {
    font-size: 14px;
    color: #555;
    margin: 20px 0;
    line-height: 22PX;
    
    
    
  }
  
  .author {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author span {
    font-size: 14px;
    color: #333;
    font-weight: 700;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .card {
      width: 100%;
      margin: 10px;
    }
  }
  